function Main.main 3
push constant 0
return
function Main.double 0
push argument 0
push constant 2
call Math.multiply 2
return
function Main.fill 0
label WHILE0
push argument 1
push constant 0
gt
not
if-goto WHILEEND1
push argument 1
push constant 1
sub
pop argument 1
push argument 0
push argument 1
add
push constant 3
call Array.new 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
goto WHILE0
label WHILEEND1
push constant 0
return
